<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Getting started with the Rainbow Graph for developers</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <script>
            function submitform(){
                console.log("Sending Json");
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                       resp = JSON.parse(xhr.responseText);
                       document.getElementById('links').innerHTML += '<li type="square">'
                               + '<a href="' + resp.url +'" target="_frameContent" onclick="expandFrame();showHtmlCopy(\'' + resp.url + '\')">' + resp.url + '</a>'
                               + '<button type="button" class="submit-button" onclick="deleteUrl(\'' + resp.url + '\')">delete</button>'
                               + '</li>';
                    }
                }
                xhr.open(input_form.method, window.location.href.replace("developer", "configure") , true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                xhr.send(document.getElementById("json_config").value);
            }

            function deleteUrl(url){
                id = url.substr(url.lastIndexOf('/') + 1)
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {

                    }
                }
                line = '<li type="square"><a href="' + url +'" target="_blank">' + url + '</a><button type="button" class="submit-button" onclick="deleteUrl(\'' + url + '\')">delete</button></li>'
                document.getElementById('links').innerHTML = document.getElementById('links').innerHTML.replace(line, "")

                xhr.open("DELETE", "viz/" + id, true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                xhr.send();
            }

            function showHtmlCopy(url){
                document.getElementById("htmlCopyHolder").innerHTML =
                        "The Rainbow Graph can be embedded to your web by using the following IFRAME tag."
                        + "<br> Copy the following tag to your web and adjust the attribute like the width & height <br>"
                        + "<br><code>&lt;iframe id=&quot;rainbowGraph&quot; src=&quot;" + url + "&quot; width=&quot;800&quot; height=&quot;380&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot;&gt;&lt;/iframe&gt;</code>";
            }

            function expandFrame(){
                document.getElementById("frameContent").style.display = "block";
                document.getElementById("frameHeader").innerHTML = "collapse";
            }
            function hideFrame(){
                document.getElementById("frameContent").style.display = "none";
                document.getElementById("frameHeader").innerHTML = "expand";
            }

            function toggle() {
                if( document.getElementById("frameContent").style.display == "block") {
                   hideFrame();
                }
                else {
                    expandFrame();
                }
            }

            function copyToClipboard(elem) {
                  // create hidden text element, if it doesn't already exist
                var targetId = "_hiddenCopyText_";
                var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
                var origSelectionStart, origSelectionEnd;
                if (isInput) {
                    // can just use the original source element for the selection and copy
                    target = elem;
                    origSelectionStart = elem.selectionStart;
                    origSelectionEnd = elem.selectionEnd;
                } else {
                    // must use a temporary form element for the selection and copy
                    target = document.getElementById(targetId);
                    if (!target) {
                        var target = document.createElement("textarea");
                        target.style.position = "absolute";
                        target.style.left = "-9999px";
                        target.style.top = "0";
                        target.id = targetId;
                        document.body.appendChild(target);
                    }
                    target.textContent = elem.textContent;
                }
                // select the content
                var currentFocus = document.activeElement;
                target.focus();
                target.setSelectionRange(0, target.value.length);

                // copy the selection
                var succeed;
                try {
                      succeed = document.execCommand("copy");
                } catch(e) {
                    succeed = false;
                }
                // restore original focus
                if (currentFocus && typeof currentFocus.focus === "function") {
                    currentFocus.focus();
                }

                if (isInput) {
                    // restore prior selection
                    elem.setSelectionRange(origSelectionStart, origSelectionEnd);
                } else {
                    // clear temporary content
                    target.textContent = "";
                }
                return succeed;
            }

        </script>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <form class="form-container" action="http://peerlogic.csc.ncsu.edu/rainbowgraph/configure" method="POST" name="input_form">
            <div><h2 class="form-title">The Rainbow Graph</h2></div>
            <div class="form-title">This page is intended for developers, <a href="instructor">klick here if you are an instructor</a></div>

            <div class="form-title">Enter a JSON Configuration for your Rainbow Graph</div>
            <div class="form-title">(See <a target="_blank" href="https://www.peerlogic.org/visualization-rainbowgraph/">this documentation</a> to learn how the configuration file should be formatted, or check the example below)</div>
            <br/>
            <div class="fb-like" data-href="https://www.facebook.com/nsfpeerlogic" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
            <br/>
            <p>
                <textarea rows="50" cols="160"  name="json config" id="json_config" class="form-field">
[{
	"metadata": {
		"title": "",
		"primary-value-label": "rank average",
		"higher_primary_value_better": false,
		"values-label": "ranks",
		"higher_values_better": false,
		"best-value-possible": 1,
		"worst-value-possible": 5,
		"y-axis-label": "Rank Average",
		"x-axis-label": "Students",
		"color-scheme": "5b",
		"secondary-value-label": "variance",
        "crit_comparer": "yes"
	},
	"data": [{
		"first_name": "Jonathan",
		"last_name": "Diaz",
		"column_url": "http://localhost:3000/assignments/584/responses/42846/showcrit?crit_assignment_id=594",
		"primary_value": 1.0,
		"secondary_value": 0.0,
		"values": [1, 1, 1, 1, 1],    "sas": 3 ,
		"studentID": 744,
		"critcomparer": [{
			"rank": 1,
			"criticID": 1222,
			"critpeers": [679, 744, 708, 1360, 724]
		}, {
			"rank": 1,
			"criticID": 797,
			"critpeers": [1238, 81, 1245, 679, 744]
		}, {
			"rank": 1,
			"criticID": 1223,
			"critpeers": [1225, 679, 744, 708, 1360]
		}, {
			"rank": 1,
			"criticID": 1249,
			"critpeers": [744, 708, 1360, 1222, 724]
		}, {
			"rank": 1,
			"criticID": 1252,
			"critpeers": [1238, 1245, 679, 744, 708]
		}]
	}, {
		"first_name": "Ryan",
		"last_name": "Jones",
		"column_url": "http://localhost:3000/assignments/584/responses/42130/showcrit?crit_assignment_id=594",
		"primary_value": 1.1666666666666667,
		"secondary_value": 0.0,
		"values": [1, 1, 1, 1, 1, 2],  "sas": 2 ,
		"studentID": 1221,
		"critcomparer": [{
			"rank": 1,
			"criticID": 1226,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 1,
			"criticID": 1236,
			"critpeers": [1353, 1086, 1225, 991, 1221]
		}, {
			"rank": 1,
			"criticID": 1225,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 1,
			"criticID": 1246,
			"critpeers": [1221, 1238, 81, 1245, 679]
		}, {
			"rank": 2,
			"criticID": 1238,
			"critpeers": [1086, 1225, 991, 1221, 81]
		}, {
			"rank": 1,
			"criticID": 1262,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}]
	}, {
		"first_name": "Keyaanna",
		"last_name": "Pausch",
		"column_url": "http://localhost:3000/assignments/584/responses/42201/showcrit?crit_assignment_id=594",
		"primary_value": 1.6,
		"secondary_value": 0.0,
		"values": [0, 1, 1, 1, 2, 3],  "sas": 5 ,
		"studentID": 723,
		"critcomparer": [{
			"rank": 3,
			"criticID": 795,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}, {
			"rank": 2,
			"criticID": 812,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 1,
			"criticID": 1230,
			"critpeers": [1250, 723, 738, 1248, 1279]
		}, {
			"rank": 1,
			"criticID": 1242,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 0,
			"criticID": 1254,
			"critpeers": [837, 1250, 723, 738, 1248]
		}, {
			"rank": 1,
			"criticID": 1216,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}]
	}, {
		"first_name": "Kristel",
		"last_name": "Sanchez",
		"column_url": "http://localhost:3000/assignments/584/responses/42253/showcrit?crit_assignment_id=594",
		"primary_value": 1.6666666666666667,
		"secondary_value": 0.0,
		"values": [1, 1, 1, 2, 2, 3],  "sas": 1 ,
		"studentID": 1225,
		"critcomparer": [{
			"rank": 1,
			"criticID": 1233,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}, {
			"rank": 2,
			"criticID": 1236,
			"critpeers": [1353, 1086, 1225, 991, 1221]
		}, {
			"rank": 2,
			"criticID": 1223,
			"critpeers": [1225, 679, 744, 708, 1360]
		}, {
			"rank": 1,
			"criticID": 1248,
			"critpeers": [1229, 1353, 1086, 1225, 991]
		}, {
			"rank": 3,
			"criticID": 1238,
			"critpeers": [1086, 1225, 991, 1221, 81]
		}, {
			"rank": 1,
			"criticID": 708,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}]
	}, {
		"first_name": "Brenna",
		"last_name": "Monson",
		"column_url": "http://localhost:3000/assignments/584/responses/42427/showcrit?crit_assignment_id=594",
		"primary_value": 1.6666666666666667,
		"secondary_value": 0.0,
		"values": [1, 1, 1, 2, 2, 3],  "sas": 5 ,
		"studentID": 1231,
		"critcomparer": [{
			"rank": 2,
			"criticID": 1086,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}, {
			"rank": 1,
			"criticID": 1221,
			"critpeers": [1231, 1243, 1240, 1247, 1242]
		}, {
			"rank": 2,
			"criticID": 965,
			"critpeers": [800, 1246, 1253, 1231, 1243]
		}, {
			"rank": 1,
			"criticID": 1232,
			"critpeers": [1253, 1231, 1243, 1240, 1247]
		}, {
			"rank": 3,
			"criticID": 1256,
			"critpeers": [1235, 800, 1246, 1253, 1231]
		}, {
			"rank": 1,
			"criticID": 270,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}]
	}, {
		"first_name": "Jacob",
		"last_name": "Sullivan",
		"column_url": "http://localhost:3000/assignments/584/responses/42858/showcrit?crit_assignment_id=594",
		"primary_value": 1.75,
		"secondary_value": 0.0,
		"values": [0, 1, 1, 2, 3],  "sas": 3 ,
		"studentID": 270,
		"critcomparer": [{
			"rank": 1,
			"criticID": 1227,
			"critpeers": [1222, 797, 270, 965, 812]
		}, {
			"rank": 2,
			"criticID": 1240,
			"critpeers": [270, 965, 812, 1251, 671]
		}, {
			"rank": 1,
			"criticID": 1247,
			"critpeers": [1222, 724, 797, 270, 965]
		}, {
			"rank": 3,
			"criticID": 1253,
			"critpeers": [797, 270, 965, 812, 1251]
		}, {
			"rank": 0,
			"criticID": 1275,
			"critpeers": [1360, 1222, 724, 797, 270]
		}]
	}, {
		"first_name": "Xavier",
		"last_name": "McDonald",
		"column_url": "http://localhost:3000/assignments/584/responses/42849/showcrit?crit_assignment_id=594",
		"primary_value": 1.75,
		"secondary_value": 0.0,
		"values": [0, 1, 1, 2, 3],  "sas": 1 ,
		"studentID": 797,
		"critcomparer": [{
			"rank": 3,
			"criticID": 1227,
			"critpeers": [1222, 797, 270, 965, 812]
		}, {
			"rank": 1,
			"criticID": 744,
			"critpeers": [708, 1360, 1222, 724, 797]
		}, {
			"rank": 2,
			"criticID": 1247,
			"critpeers": [1222, 724, 797, 270, 965]
		}, {
			"rank": 1,
			"criticID": 1253,
			"critpeers": [797, 270, 965, 812, 1251]
		}, {
			"rank": 0,
			"criticID": 1275,
			"critpeers": [1360, 1222, 724, 797, 270]
		}]
	}, {
		"first_name": "Connor",
		"last_name": "Golobich",
		"column_url": "http://localhost:3000/assignments/584/responses/42125/showcrit?crit_assignment_id=594",
		"primary_value": 1.75,
		"secondary_value": 0.0,
		"values": [0, 0, 1, 2, 2, 2],  "sas": 4 ,
		"studentID": 1236,
		"critcomparer": [{
			"rank": 1,
			"criticID": 671,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}, {
			"rank": 2,
			"criticID": 1228,
			"critpeers": [1227, 1236, 1233, 1262, 1229]
		}, {
			"rank": 2,
			"criticID": 1245,
			"critpeers": [1226, 1336, 1216, 1227, 1236]
		}, {
			"rank": 2,
			"criticID": 1241,
			"critpeers": [1216, 1227, 1236, 1233, 1262]
		}, {
			"rank": 0,
			"criticID": 800,
			"critpeers": [1236, 1233, 1262, 1229, 1353]
		}, {
			"rank": 0,
			"criticID": 1360,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}]
	}, {
		"first_name": "Michael",
		"last_name": "Warnick",
		"column_url": "http://localhost:3000/assignments/584/responses/43955/showcrit?crit_assignment_id=594",
		"primary_value": 1.75,
		"secondary_value": 0.0,
		"values": [0, 1, 2, 2, 2],  "sas": 5 ,
		"studentID": 812,
		"critcomparer": [{
			"rank": 2,
			"criticID": 1227,
			"critpeers": [1222, 797, 270, 965, 812]
		}, {
			"rank": 1,
			"criticID": 1240,
			"critpeers": [270, 965, 812, 1251, 671]
		}, {
			"rank": 0,
			"criticID": 1234,
			"critpeers": [812, 1251, 671, 1237, 1228]
		}, {
			"rank": 2,
			"criticID": 1253,
			"critpeers": [797, 270, 965, 812, 1251]
		}, {
			"rank": 2,
			"criticID": 1279,
			"critpeers": [965, 812, 1251, 671, 1237]
		}]
	}, {
		"first_name": "Walker",
		"last_name": "Mckenzie",
		"column_url": "http://localhost:3000/assignments/584/responses/43222/showcrit?crit_assignment_id=594",
		"primary_value": 2.0,
		"secondary_value": 0.0,
		"values": [0, 0, 1, 2, 2, 3],  "sas": 1 ,
		"studentID": 1224,
		"critcomparer": [{
			"rank": 3,
			"criticID": 991,
			"critpeers": [729, 1223, 1224, 1232]
		}, {
			"rank": 2,
			"criticID": 1220,
			"critpeers": [1224, 1235, 800, 1246, 1253]
		}, {
			"rank": 1,
			"criticID": 723,
			"critpeers": [1237, 1228, 729, 1223, 1224]
		}, {
			"rank": 0,
			"criticID": 1239,
			"critpeers": [729, 1223, 1224, 1232, 1230]
		}, {
			"rank": 2,
			"criticID": 738,
			"critpeers": [1224, 1232, 1230, 1241, 1252]
		}, {
			"rank": 0,
			"criticID": 1244,
			"critpeers": [1228, 729, 1223, 1224, 1232]
		}]
	}, {
		"first_name": "Alex",
		"last_name": "Haddad",
		"column_url": "http://localhost:3000/assignments/584/responses/42457/showcrit?crit_assignment_id=594",
		"primary_value": 2.0,
		"secondary_value": 0.0,
		"values": [0, 0, 1, 1, 2, 4],  "sas": 3 ,
		"studentID": 1227,
		"critcomparer": [{
			"rank": 2,
			"criticID": 671,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}, {
			"rank": 1,
			"criticID": 1228,
			"critpeers": [1227, 1236, 1233, 1262, 1229]
		}, {
			"rank": 4,
			"criticID": 1245,
			"critpeers": [1226, 1336, 1216, 1227, 1236]
		}, {
			"rank": 1,
			"criticID": 1241,
			"critpeers": [1216, 1227, 1236, 1233, 1262]
		}, {
			"rank": 0,
			"criticID": 1250,
			"critpeers": [1279, 1226, 1336, 1216, 1227]
		}, {
			"rank": 0,
			"criticID": 1360,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}]
	}, {
		"first_name": "Alexander",
		"last_name": "Gross",
		"column_url": "http://localhost:3000/assignments/584/responses/43939/showcrit?crit_assignment_id=594",
		"primary_value": 2.0,
		"secondary_value": 0.0,
		"values": [0, 1, 2, 2, 2, 3],  "sas": 5 ,
		"studentID": 1250,
		"critcomparer": [{
			"rank": 2,
			"criticID": 1229,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}, {
			"rank": 1,
			"criticID": 812,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 2,
			"criticID": 1230,
			"critpeers": [1250, 723, 738, 1248, 1279]
		}, {
			"rank": 2,
			"criticID": 1242,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 0,
			"criticID": 1254,
			"critpeers": [837, 1250, 723, 738, 1248]
		}, {
			"rank": 3,
			"criticID": 1353,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}]
	}, {
		"first_name": "Terrance",
		"last_name": "Toyser",
		"column_url": "http://localhost:3000/assignments/584/responses/43902/showcrit?crit_assignment_id=594",
		"primary_value": 2.1666666666666665,
		"secondary_value": 0.0,
		"values": [1, 1, 1, 3, 3, 4],  "sas": 1 ,
		"studentID": 800,
		"critcomparer": [{
			"rank": 3,
			"criticID": 679,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}, {
			"rank": 4,
			"criticID": 1220,
			"critpeers": [1224, 1235, 800, 1246, 1253]
		}, {
			"rank": 1,
			"criticID": 965,
			"critpeers": [800, 1246, 1253, 1231, 1243]
		}, {
			"rank": 3,
			"criticID": 837,
			"critpeers": [1241, 1252, 1235, 800, 1246]
		}, {
			"rank": 1,
			"criticID": 1256,
			"critpeers": [1235, 800, 1246, 1253, 1231]
		}, {
			"rank": 1,
			"criticID": 1336,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}]
	}, {
		"first_name": "Olivia",
		"last_name": "Fishwick",
		"column_url": "http://localhost:3000/assignments/584/responses/43234/showcrit?crit_assignment_id=594",
		"primary_value": 2.1666666666666665,
		"secondary_value": 0.0,
		"values": [1, 2, 2, 2, 2, 4],  "sas": 3 ,
		"studentID": 1235,
		"critcomparer": [{
			"rank": 4,
			"criticID": 679,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}, {
			"rank": 1,
			"criticID": 1220,
			"critpeers": [1224, 1235, 800, 1246, 1253]
		}, {
			"rank": 2,
			"criticID": 1231,
			"critpeers": [1232, 1230, 1241, 1252, 1235]
		}, {
			"rank": 2,
			"criticID": 837,
			"critpeers": [1241, 1252, 1235, 800, 1246]
		}, {
			"rank": 2,
			"criticID": 1256,
			"critpeers": [1235, 800, 1246, 1253, 1231]
		}, {
			"rank": 2,
			"criticID": 1336,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}]
	}, {
		"first_name": "Christian",
		"last_name": "Wolf",
		"column_url": "http://localhost:3000/assignments/584/responses/43936/showcrit?crit_assignment_id=594",
		"primary_value": 2.25,
		"secondary_value": 0.0,
		"values": [0, 1, 2, 3, 3],  "sas": 5 ,
		"studentID": 671,
		"critcomparer": [{
			"rank": 1,
			"criticID": 1243,
			"critpeers": [1251, 671, 1237, 1228, 729]
		}, {
			"rank": 3,
			"criticID": 1240,
			"critpeers": [270, 965, 812, 1251, 671]
		}, {
			"rank": 0,
			"criticID": 1234,
			"critpeers": [812, 1251, 671, 1237, 1228]
		}, {
			"rank": 2,
			"criticID": 1251,
			"critpeers": [671, 1237, 1228, 729, 1223]
		}, {
			"rank": 3,
			"criticID": 1279,
			"critpeers": [965, 812, 1251, 671, 1237]
		}]
	}, {
		"first_name": "Warissara",
		"last_name": "Phupaibul",
		"column_url": "http://localhost:3000/assignments/584/responses/42097/showcrit?crit_assignment_id=594",
		"primary_value": 2.3333333333333335,
		"secondary_value": 0.0,
		"values": [2, 2, 2, 2, 3, 3],  "sas": 4 ,
		"studentID": 1238,
		"critcomparer": [{
			"rank": 3,
			"criticID": 1226,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 2,
			"criticID": 797,
			"critpeers": [1238, 81, 1245, 679, 744]
		}, {
			"rank": 3,
			"criticID": 1225,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 2,
			"criticID": 1246,
			"critpeers": [1221, 1238, 81, 1245, 679]
		}, {
			"rank": 2,
			"criticID": 1252,
			"critpeers": [1238, 1245, 679, 744, 708]
		}, {
			"rank": 2,
			"criticID": 1262,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}]
	}, {
		"first_name": "Holly",
		"last_name": "Schranz",
		"column_url": "http://localhost:3000/assignments/584/responses/42116/showcrit?crit_assignment_id=594",
		"primary_value": 2.3333333333333335,
		"secondary_value": 0.0,
		"values": [1, 2, 2, 3, 3, 3],  "sas": 5 ,
		"studentID": 1220,
		"critcomparer": [{
			"rank": 3,
			"criticID": 1229,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}, {
			"rank": 3,
			"criticID": 812,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 2,
			"criticID": 729,
			"critpeers": [1240, 1247, 1242, 1220, 837]
		}, {
			"rank": 3,
			"criticID": 1242,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 2,
			"criticID": 81,
			"critpeers": [1243, 1240, 1247, 1242, 1220]
		}, {
			"rank": 1,
			"criticID": 1353,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}]
	}, {
		"first_name": "Jack",
		"last_name": "McConnell",
		"column_url": "http://localhost:3000/assignments/584/responses/42848/showcrit?crit_assignment_id=594",
		"primary_value": 2.5,
		"secondary_value": 0.0,
		"values": [1, 1, 1, 2, 5, 5],  "sas": 5 ,
		"studentID": 1242,
		"critcomparer": [{
			"rank": 1,
			"criticID": 1229,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}, {
			"rank": 5,
			"criticID": 1221,
			"critpeers": [1231, 1243, 1240, 1247, 1242]
		}, {
			"rank": 1,
			"criticID": 729,
			"critpeers": [1240, 1247, 1242, 1220, 837]
		}, {
			"rank": 5,
			"criticID": 1237,
			"critpeers": [1242, 1248, 1279, 1226, 1336]
		}, {
			"rank": 1,
			"criticID": 81,
			"critpeers": [1243, 1240, 1247, 1242, 1220]
		}, {
			"rank": 2,
			"criticID": 1353,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}]
	}, {
		"first_name": "Cristina",
		"last_name": "Smith",
		"column_url": "http://localhost:3000/assignments/584/responses/42105/showcrit?crit_assignment_id=594",
		"primary_value": 2.5,
		"secondary_value": 0.0,
		"values": [0, 0, 2, 2, 3, 3],  "sas": 2 ,
		"studentID": 729,
		"critcomparer": [{
			"rank": 2,
			"criticID": 991,
			"critpeers": [729, 1223, 1224, 1232]
		}, {
			"rank": 3,
			"criticID": 1243,
			"critpeers": [1251, 671, 1237, 1228, 729]
		}, {
			"rank": 2,
			"criticID": 723,
			"critpeers": [1237, 1228, 729, 1223, 1224]
		}, {
			"rank": 0,
			"criticID": 1239,
			"critpeers": [729, 1223, 1224, 1232, 1230]
		}, {
			"rank": 3,
			"criticID": 1251,
			"critpeers": [671, 1237, 1228, 729, 1223]
		}, {
			"rank": 0,
			"criticID": 1244,
			"critpeers": [1228, 729, 1223, 1224, 1232]
		}]
	}, {
		"first_name": "jacob",
		"last_name": "shingles",
		"column_url": "http://localhost:3000/assignments/584/responses/43950/showcrit?crit_assignment_id=594",
		"primary_value": 2.5,
		"secondary_value": 0.0,
		"values": [0, 0, 1, 1, 3, 5],  "sas": 3 ,
		"studentID": 1232,
		"critcomparer": [{
			"rank": 1,
			"criticID": 991,
			"critpeers": [729, 1223, 1224, 1232]
		}, {
			"rank": 3,
			"criticID": 1224,
			"critpeers": [1223, 1232, 1230, 1241, 1252]
		}, {
			"rank": 5,
			"criticID": 1231,
			"critpeers": [1232, 1230, 1241, 1252, 1235]
		}, {
			"rank": 0,
			"criticID": 1239,
			"critpeers": [729, 1223, 1224, 1232, 1230]
		}, {
			"rank": 1,
			"criticID": 738,
			"critpeers": [1224, 1232, 1230, 1241, 1252]
		}, {
			"rank": 0,
			"criticID": 1244,
			"critpeers": [1228, 729, 1223, 1224, 1232]
		}]
	}, {
		"first_name": "Bikram",
		"last_name": "Baral",
		"column_url": "http://localhost:3000/assignments/584/responses/42543/showcrit?crit_assignment_id=594",
		"primary_value": 2.5,
		"secondary_value": 0.0,
		"values": [0, 1, 2, 3, 4],  "sas": 5 ,
		"studentID": 1237,
		"critcomparer": [{
			"rank": 2,
			"criticID": 1243,
			"critpeers": [1251, 671, 1237, 1228, 729]
		}, {
			"rank": 3,
			"criticID": 723,
			"critpeers": [1237, 1228, 729, 1223, 1224]
		}, {
			"rank": 0,
			"criticID": 1234,
			"critpeers": [812, 1251, 671, 1237, 1228]
		}, {
			"rank": 4,
			"criticID": 1251,
			"critpeers": [671, 1237, 1228, 729, 1223]
		}, {
			"rank": 1,
			"criticID": 1279,
			"critpeers": [965, 812, 1251, 671, 1237]
		}]
	}, {
		"first_name": "Davin",
		"last_name": "Kim",
		"column_url": "http://localhost:3000/assignments/584/responses/42817/showcrit?crit_assignment_id=594",
		"primary_value": 2.6,
		"secondary_value": 0.0,
		"values": [0, 1, 1, 3, 3, 5],  "sas": 1 ,
		"studentID": 1226,
		"critcomparer": [{
			"rank": 1,
			"criticID": 795,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}, {
			"rank": 1,
			"criticID": 1235,
			"critpeers": [1248, 1279, 1226, 1336, 1216]
		}, {
			"rank": 3,
			"criticID": 1245,
			"critpeers": [1226, 1336, 1216, 1227, 1236]
		}, {
			"rank": 3,
			"criticID": 1237,
			"critpeers": [1242, 1248, 1279, 1226, 1336]
		}, {
			"rank": 0,
			"criticID": 1250,
			"critpeers": [1279, 1226, 1336, 1216, 1227]
		}, {
			"rank": 5,
			"criticID": 1216,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}]
	}, {
		"first_name": "Tom",
		"last_name": "Trauberman",
		"column_url": "http://localhost:3000/assignments/584/responses/42810/showcrit?crit_assignment_id=594",
		"primary_value": 2.6666666666666665,
		"secondary_value": 0.0,
		"values": [1, 2, 3, 3, 3, 4],  "sas": 5 ,
		"studentID": 81,
		"critcomparer": [{
			"rank": 4,
			"criticID": 1226,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 3,
			"criticID": 797,
			"critpeers": [1238, 81, 1245, 679, 744]
		}, {
			"rank": 2,
			"criticID": 1225,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 3,
			"criticID": 1246,
			"critpeers": [1221, 1238, 81, 1245, 679]
		}, {
			"rank": 1,
			"criticID": 1238,
			"critpeers": [1086, 1225, 991, 1221, 81]
		}, {
			"rank": 3,
			"criticID": 1262,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}]
	}, {
		"first_name": "Alonzo",
		"last_name": "Celaya",
		"column_url": "http://localhost:3000/assignments/584/responses/43272/showcrit?crit_assignment_id=594",
		"primary_value": 2.75,
		"secondary_value": 0.0,
		"values": [0, 0, 1, 3, 3, 4],  "sas": 2 ,
		"studentID": 1233,
		"critcomparer": [{
			"rank": 3,
			"criticID": 671,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}, {
			"rank": 3,
			"criticID": 1228,
			"critpeers": [1227, 1236, 1233, 1262, 1229]
		}, {
			"rank": 1,
			"criticID": 724,
			"critpeers": [1233, 1262, 1229, 1353, 1086]
		}, {
			"rank": 4,
			"criticID": 1241,
			"critpeers": [1216, 1227, 1236, 1233, 1262]
		}, {
			"rank": 0,
			"criticID": 800,
			"critpeers": [1236, 1233, 1262, 1229, 1353]
		}, {
			"rank": 0,
			"criticID": 1360,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}]
	}, {
		"first_name": "Daniel",
		"last_name": "Shannon-Spence",
		"column_url": "http://localhost:3000/assignments/584/responses/42131/showcrit?crit_assignment_id=594",
		"primary_value": 2.75,
		"secondary_value": 0.0,
		"values": [0, 0, 1, 2, 4, 4],  "sas": 5 ,
		"studentID": 1336,
		"critcomparer": [{
			"rank": 4,
			"criticID": 671,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}, {
			"rank": 2,
			"criticID": 1235,
			"critpeers": [1248, 1279, 1226, 1336, 1216]
		}, {
			"rank": 1,
			"criticID": 1245,
			"critpeers": [1226, 1336, 1216, 1227, 1236]
		}, {
			"rank": 4,
			"criticID": 1237,
			"critpeers": [1242, 1248, 1279, 1226, 1336]
		}, {
			"rank": 0,
			"criticID": 1250,
			"critpeers": [1279, 1226, 1336, 1216, 1227]
		}, {
			"rank": 0,
			"criticID": 1360,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}]
	}, {
		"first_name": "Kyle",
		"last_name": "Doherty",
		"column_url": "http://localhost:3000/assignments/584/responses/42500/showcrit?crit_assignment_id=594",
		"primary_value": 2.8,
		"secondary_value": 0.0,
		"values": [2, 2, 3, 3, 4],  "sas": 1 ,
		"studentID": 708,
		"critcomparer": [{
			"rank": 3,
			"criticID": 1222,
			"critpeers": [679, 744, 708, 1360, 724]
		}, {
			"rank": 2,
			"criticID": 744,
			"critpeers": [708, 1360, 1222, 724, 797]
		}, {
			"rank": 4,
			"criticID": 1223,
			"critpeers": [1225, 679, 744, 708, 1360]
		}, {
			"rank": 2,
			"criticID": 1249,
			"critpeers": [744, 708, 1360, 1222, 724]
		}, {
			"rank": 3,
			"criticID": 1252,
			"critpeers": [1238, 1245, 679, 744, 708]
		}]
	}, {
		"first_name": "Jose Maria",
		"last_name": "Fierro",
		"column_url": "http://localhost:3000/assignments/584/responses/43926/showcrit?crit_assignment_id=594",
		"primary_value": 2.8333333333333335,
		"secondary_value": 0.0,
		"values": [1, 2, 3, 3, 4, 4],  "sas": 5 ,
		"studentID": 1243,
		"critcomparer": [{
			"rank": 1,
			"criticID": 1086,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}, {
			"rank": 2,
			"criticID": 1221,
			"critpeers": [1231, 1243, 1240, 1247, 1242]
		}, {
			"rank": 4,
			"criticID": 965,
			"critpeers": [800, 1246, 1253, 1231, 1243]
		}, {
			"rank": 4,
			"criticID": 1232,
			"critpeers": [1253, 1231, 1243, 1240, 1247]
		}, {
			"rank": 3,
			"criticID": 81,
			"critpeers": [1243, 1240, 1247, 1242, 1220]
		}, {
			"rank": 3,
			"criticID": 270,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}]
	}, {
		"first_name": "Cory",
		"last_name": "Calhoun",
		"column_url": "http://localhost:3000/assignments/584/responses/42234/showcrit?crit_assignment_id=594",
		"primary_value": 3.0,
		"secondary_value": 0.0,
		"values": [0, 1, 2, 3, 4, 5],  "sas": 3 ,
		"studentID": 1279,
		"critcomparer": [{
			"rank": 2,
			"criticID": 795,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}, {
			"rank": 4,
			"criticID": 1235,
			"critpeers": [1248, 1279, 1226, 1336, 1216]
		}, {
			"rank": 5,
			"criticID": 1230,
			"critpeers": [1250, 723, 738, 1248, 1279]
		}, {
			"rank": 1,
			"criticID": 1237,
			"critpeers": [1242, 1248, 1279, 1226, 1336]
		}, {
			"rank": 0,
			"criticID": 1250,
			"critpeers": [1279, 1226, 1336, 1216, 1227]
		}, {
			"rank": 3,
			"criticID": 1216,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}]
	}, {
		"first_name": "Lynzie",
		"last_name": "Robb",
		"column_url": "http://localhost:3000/assignments/584/responses/42142/showcrit?crit_assignment_id=594",
		"primary_value": 3.0,
		"secondary_value": 0.0,
		"values": [2, 2, 3, 3, 4, 4],  "sas": 1 ,
		"studentID": 1241,
		"critcomparer": [{
			"rank": 2,
			"criticID": 679,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}, {
			"rank": 2,
			"criticID": 1224,
			"critpeers": [1223, 1232, 1230, 1241, 1252]
		}, {
			"rank": 3,
			"criticID": 1231,
			"critpeers": [1232, 1230, 1241, 1252, 1235]
		}, {
			"rank": 4,
			"criticID": 837,
			"critpeers": [1241, 1252, 1235, 800, 1246]
		}, {
			"rank": 4,
			"criticID": 738,
			"critpeers": [1224, 1232, 1230, 1241, 1252]
		}, {
			"rank": 3,
			"criticID": 1336,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}]
	}, {
		"first_name": "Alexander",
		"last_name": "Borgen",
		"column_url": "http://localhost:3000/assignments/584/responses/42818/showcrit?crit_assignment_id=594",
		"primary_value": 3.0,
		"secondary_value": 0.0,
		"values": [1, 1, 1, 5, 5, 5],  "sas": 4 ,
		"studentID": 1252,
		"critcomparer": [{
			"rank": 5,
			"criticID": 679,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}, {
			"rank": 1,
			"criticID": 1224,
			"critpeers": [1223, 1232, 1230, 1241, 1252]
		}, {
			"rank": 1,
			"criticID": 1231,
			"critpeers": [1232, 1230, 1241, 1252, 1235]
		}, {
			"rank": 1,
			"criticID": 837,
			"critpeers": [1241, 1252, 1235, 800, 1246]
		}, {
			"rank": 5,
			"criticID": 738,
			"critpeers": [1224, 1232, 1230, 1241, 1252]
		}, {
			"rank": 5,
			"criticID": 1336,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}]
	}, {
		"first_name": "Zachery",
		"last_name": "Reale",
		"column_url": "http://localhost:3000/assignments/584/responses/42547/showcrit?crit_assignment_id=594",
		"primary_value": 3.1666666666666665,
		"secondary_value": 0.0,
		"values": [2, 2, 3, 3, 4, 5],  "sas": 3 ,
		"studentID": 1253,
		"critcomparer": [{
			"rank": 5,
			"criticID": 1086,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}, {
			"rank": 3,
			"criticID": 1220,
			"critpeers": [1224, 1235, 800, 1246, 1253]
		}, {
			"rank": 3,
			"criticID": 965,
			"critpeers": [800, 1246, 1253, 1231, 1243]
		}, {
			"rank": 2,
			"criticID": 1232,
			"critpeers": [1253, 1231, 1243, 1240, 1247]
		}, {
			"rank": 4,
			"criticID": 1256,
			"critpeers": [1235, 800, 1246, 1253, 1231]
		}, {
			"rank": 2,
			"criticID": 270,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}]
	}, {
		"first_name": "Abigail",
		"last_name": "Fraser",
		"column_url": "http://localhost:3000/assignments/584/responses/43994/showcrit?crit_assignment_id=594",
		"primary_value": 3.2,
		"secondary_value": 0.0,
		"values": [0, 2, 2, 3, 4, 5],  "sas": 5 ,
		"studentID": 1229,
		"critcomparer": [{
			"rank": 2,
			"criticID": 1233,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}, {
			"rank": 4,
			"criticID": 1228,
			"critpeers": [1227, 1236, 1233, 1262, 1229]
		}, {
			"rank": 3,
			"criticID": 724,
			"critpeers": [1233, 1262, 1229, 1353, 1086]
		}, {
			"rank": 2,
			"criticID": 1248,
			"critpeers": [1229, 1353, 1086, 1225, 991]
		}, {
			"rank": 0,
			"criticID": 800,
			"critpeers": [1236, 1233, 1262, 1229, 1353]
		}, {
			"rank": 5,
			"criticID": 708,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}]
	}, {
		"first_name": "Dylan",
		"last_name": "Horyza",
		"column_url": "http://localhost:3000/assignments/584/responses/43238/showcrit?crit_assignment_id=594",
		"primary_value": 3.2,
		"secondary_value": 0.0,
		"values": [0, 1, 3, 4, 4, 4],  "sas": 1 ,
		"studentID": 1230,
		"critcomparer": [{
			"rank": 1,
			"criticID": 679,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}, {
			"rank": 4,
			"criticID": 1224,
			"critpeers": [1223, 1232, 1230, 1241, 1252]
		}, {
			"rank": 4,
			"criticID": 1231,
			"critpeers": [1232, 1230, 1241, 1252, 1235]
		}, {
			"rank": 0,
			"criticID": 1239,
			"critpeers": [729, 1223, 1224, 1232, 1230]
		}, {
			"rank": 3,
			"criticID": 738,
			"critpeers": [1224, 1232, 1230, 1241, 1252]
		}, {
			"rank": 4,
			"criticID": 1336,
			"critpeers": [1230, 1241, 1252, 1235, 800]
		}]
	}, {
		"first_name": "Tetsuo",
		"last_name": "Yoneuchi",
		"column_url": "http://localhost:3000/assignments/584/responses/43250/showcrit?crit_assignment_id=594",
		"primary_value": 3.5,
		"secondary_value": 0.0,
		"values": [0, 3, 3, 4, 4],  "sas": 5 ,
		"studentID": 1222,
		"critcomparer": [{
			"rank": 4,
			"criticID": 1227,
			"critpeers": [1222, 797, 270, 965, 812]
		}, {
			"rank": 4,
			"criticID": 744,
			"critpeers": [708, 1360, 1222, 724, 797]
		}, {
			"rank": 3,
			"criticID": 1247,
			"critpeers": [1222, 724, 797, 270, 965]
		}, {
			"rank": 3,
			"criticID": 1249,
			"critpeers": [744, 708, 1360, 1222, 724]
		}, {
			"rank": 0,
			"criticID": 1275,
			"critpeers": [1360, 1222, 724, 797, 270]
		}]
	}, {
		"first_name": "Rupash",
		"last_name": "Pudasaini",
		"column_url": "http://localhost:3000/assignments/584/responses/43948/showcrit?crit_assignment_id=594",
		"primary_value": 3.5,
		"secondary_value": 0.0,
		"values": [2, 3, 3, 4, 4, 5],  "sas": 2 ,
		"studentID": 991,
		"critcomparer": [{
			"rank": 2,
			"criticID": 1226,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 3,
			"criticID": 1236,
			"critpeers": [1353, 1086, 1225, 991, 1221]
		}, {
			"rank": 5,
			"criticID": 1225,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 3,
			"criticID": 1248,
			"critpeers": [1229, 1353, 1086, 1225, 991]
		}, {
			"rank": 4,
			"criticID": 1238,
			"critpeers": [1086, 1225, 991, 1221, 81]
		}, {
			"rank": 4,
			"criticID": 1262,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}]
	}, {
		"first_name": "stacy",
		"last_name": "wood",
		"column_url": "http://localhost:3000/assignments/584/responses/43275/showcrit?crit_assignment_id=594",
		"primary_value": 3.6,
		"secondary_value": 0.0,
		"values": [0, 2, 2, 4, 5, 5],  "sas": 5 ,
		"studentID": 1248,
		"critcomparer": [{
			"rank": 5,
			"criticID": 795,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}, {
			"rank": 5,
			"criticID": 1235,
			"critpeers": [1248, 1279, 1226, 1336, 1216]
		}, {
			"rank": 4,
			"criticID": 1230,
			"critpeers": [1250, 723, 738, 1248, 1279]
		}, {
			"rank": 2,
			"criticID": 1237,
			"critpeers": [1242, 1248, 1279, 1226, 1336]
		}, {
			"rank": 0,
			"criticID": 1254,
			"critpeers": [837, 1250, 723, 738, 1248]
		}, {
			"rank": 2,
			"criticID": 1216,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}]
	}, {
		"first_name": "Chris ",
		"last_name": "Kamer",
		"column_url": "http://localhost:3000/assignments/584/responses/42868/showcrit?crit_assignment_id=594",
		"primary_value": 3.6666666666666665,
		"secondary_value": 0.0,
		"values": [3, 3, 3, 4, 4, 5],  "sas": 1 ,
		"studentID": 1240,
		"critcomparer": [{
			"rank": 3,
			"criticID": 1086,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}, {
			"rank": 3,
			"criticID": 1221,
			"critpeers": [1231, 1243, 1240, 1247, 1242]
		}, {
			"rank": 4,
			"criticID": 729,
			"critpeers": [1240, 1247, 1242, 1220, 837]
		}, {
			"rank": 3,
			"criticID": 1232,
			"critpeers": [1253, 1231, 1243, 1240, 1247]
		}, {
			"rank": 4,
			"criticID": 81,
			"critpeers": [1243, 1240, 1247, 1242, 1220]
		}, {
			"rank": 5,
			"criticID": 270,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}]
	}, {
		"first_name": "Alexis",
		"last_name": "Rael",
		"column_url": "http://localhost:3000/assignments/584/responses/43270/showcrit?crit_assignment_id=594",
		"primary_value": 3.8,
		"secondary_value": 0.0,
		"values": [0, 3, 4, 4, 4, 4],  "sas": 5 ,
		"studentID": 1353,
		"critcomparer": [{
			"rank": 3,
			"criticID": 1233,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}, {
			"rank": 4,
			"criticID": 1236,
			"critpeers": [1353, 1086, 1225, 991, 1221]
		}, {
			"rank": 4,
			"criticID": 724,
			"critpeers": [1233, 1262, 1229, 1353, 1086]
		}, {
			"rank": 4,
			"criticID": 1248,
			"critpeers": [1229, 1353, 1086, 1225, 991]
		}, {
			"rank": 0,
			"criticID": 800,
			"critpeers": [1236, 1233, 1262, 1229, 1353]
		}, {
			"rank": 4,
			"criticID": 708,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}]
	}, {
		"first_name": "Benjamin",
		"last_name": "Shaul",
		"column_url": "http://localhost:3000/assignments/584/responses/43932/showcrit?crit_assignment_id=594",
		"primary_value": 4.0,
		"secondary_value": 0.0,
		"values": [0, 2, 3, 5, 5, 5],  "sas": 1 ,
		"studentID": 1262,
		"critcomparer": [{
			"rank": 5,
			"criticID": 1233,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}, {
			"rank": 5,
			"criticID": 1228,
			"critpeers": [1227, 1236, 1233, 1262, 1229]
		}, {
			"rank": 2,
			"criticID": 724,
			"critpeers": [1233, 1262, 1229, 1353, 1086]
		}, {
			"rank": 5,
			"criticID": 1241,
			"critpeers": [1216, 1227, 1236, 1233, 1262]
		}, {
			"rank": 0,
			"criticID": 800,
			"critpeers": [1236, 1233, 1262, 1229, 1353]
		}, {
			"rank": 3,
			"criticID": 708,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}]
	}, {
		"first_name": "Brenda",
		"last_name": "McCaffrey",
		"column_url": "http://localhost:3000/assignments/584/responses/42495/showcrit?crit_assignment_id=594",
		"primary_value": 4.0,
		"secondary_value": 0.0,
		"values": [0, 0, 3, 3, 5, 5],  "sas": 5 ,
		"studentID": 1216,
		"critcomparer": [{
			"rank": 5,
			"criticID": 671,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}, {
			"rank": 3,
			"criticID": 1235,
			"critpeers": [1248, 1279, 1226, 1336, 1216]
		}, {
			"rank": 5,
			"criticID": 1245,
			"critpeers": [1226, 1336, 1216, 1227, 1236]
		}, {
			"rank": 3,
			"criticID": 1241,
			"critpeers": [1216, 1227, 1236, 1233, 1262]
		}, {
			"rank": 0,
			"criticID": 1250,
			"critpeers": [1279, 1226, 1336, 1216, 1227]
		}, {
			"rank": 0,
			"criticID": 1360,
			"critpeers": [1336, 1216, 1227, 1236, 1233]
		}]
	}, {
		"first_name": "Zac",
		"last_name": "Hulke",
		"column_url": "http://localhost:3000/assignments/584/responses/43946/showcrit?crit_assignment_id=594",
		"primary_value": 4.0,
		"secondary_value": 0.0,
		"values": [0, 0, 1, 5, 5, 5],  "sas": 3 ,
		"studentID": 1223,
		"critcomparer": [{
			"rank": 5,
			"criticID": 991,
			"critpeers": [729, 1223, 1224, 1232]
		}, {
			"rank": 5,
			"criticID": 1224,
			"critpeers": [1223, 1232, 1230, 1241, 1252]
		}, {
			"rank": 5,
			"criticID": 723,
			"critpeers": [1237, 1228, 729, 1223, 1224]
		}, {
			"rank": 0,
			"criticID": 1239,
			"critpeers": [729, 1223, 1224, 1232, 1230]
		}, {
			"rank": 1,
			"criticID": 1251,
			"critpeers": [671, 1237, 1228, 729, 1223]
		}, {
			"rank": 0,
			"criticID": 1244,
			"critpeers": [1228, 729, 1223, 1224, 1232]
		}]
	}, {
		"first_name": "Megan ",
		"last_name": "Helmick ",
		"column_url": "http://localhost:3000/assignments/584/responses/42214/showcrit?crit_assignment_id=594",
		"primary_value": 4.0,
		"secondary_value": 0.0,
		"values": [0, 3, 4, 4, 5],  "sas": 5 ,
		"studentID": 724,
		"critcomparer": [{
			"rank": 4,
			"criticID": 1222,
			"critpeers": [679, 744, 708, 1360, 724]
		}, {
			"rank": 3,
			"criticID": 744,
			"critpeers": [708, 1360, 1222, 724, 797]
		}, {
			"rank": 4,
			"criticID": 1247,
			"critpeers": [1222, 724, 797, 270, 965]
		}, {
			"rank": 5,
			"criticID": 1249,
			"critpeers": [744, 708, 1360, 1222, 724]
		}, {
			"rank": 0,
			"criticID": 1275,
			"critpeers": [1360, 1222, 724, 797, 270]
		}]
	}, {
		"first_name": "Morgan",
		"last_name": "Helmick",
		"column_url": "http://localhost:3000/assignments/584/responses/43280/showcrit?crit_assignment_id=594",
		"primary_value": 4.2,
		"secondary_value": 0.0,
		"values": [0, 3, 4, 4, 5, 5],  "sas": 2 ,
		"studentID": 738,
		"critcomparer": [{
			"rank": 4,
			"criticID": 795,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}, {
			"rank": 5,
			"criticID": 812,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 3,
			"criticID": 1230,
			"critpeers": [1250, 723, 738, 1248, 1279]
		}, {
			"rank": 5,
			"criticID": 1242,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 0,
			"criticID": 1254,
			"critpeers": [837, 1250, 723, 738, 1248]
		}, {
			"rank": 4,
			"criticID": 1216,
			"critpeers": [723, 738, 1248, 1279, 1226]
		}]
	}, {
		"first_name": "Marco",
		"last_name": "Castillo",
		"column_url": "http://localhost:3000/assignments/584/responses/43223/showcrit?crit_assignment_id=594",
		"primary_value": 4.25,
		"secondary_value": 0.0,
		"values": [0, 4, 4, 4, 5],  "sas": 5 ,
		"studentID": 1251,
		"critcomparer": [{
			"rank": 4,
			"criticID": 1243,
			"critpeers": [1251, 671, 1237, 1228, 729]
		}, {
			"rank": 5,
			"criticID": 1240,
			"critpeers": [270, 965, 812, 1251, 671]
		}, {
			"rank": 0,
			"criticID": 1234,
			"critpeers": [812, 1251, 671, 1237, 1228]
		}, {
			"rank": 4,
			"criticID": 1253,
			"critpeers": [797, 270, 965, 812, 1251]
		}, {
			"rank": 4,
			"criticID": 1279,
			"critpeers": [965, 812, 1251, 671, 1237]
		}]
	}, {
		"first_name": "Isaac",
		"last_name": "Barron",
		"column_url": "http://localhost:3000/assignments/584/responses/43908/showcrit?crit_assignment_id=594",
		"primary_value": 4.333333333333333,
		"secondary_value": 0.0,
		"values": [2, 4, 5, 5, 5, 5],  "sas": 2 ,
		"studentID": 1086,
		"critcomparer": [{
			"rank": 4,
			"criticID": 1233,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}, {
			"rank": 5,
			"criticID": 1236,
			"critpeers": [1353, 1086, 1225, 991, 1221]
		}, {
			"rank": 5,
			"criticID": 724,
			"critpeers": [1233, 1262, 1229, 1353, 1086]
		}, {
			"rank": 5,
			"criticID": 1248,
			"critpeers": [1229, 1353, 1086, 1225, 991]
		}, {
			"rank": 5,
			"criticID": 1238,
			"critpeers": [1086, 1225, 991, 1221, 81]
		}, {
			"rank": 2,
			"criticID": 708,
			"critpeers": [1262, 1229, 1353, 1086, 1225]
		}]
	}, {
		"first_name": "Mahogany",
		"last_name": "Lambert",
		"column_url": "http://localhost:3000/assignments/584/responses/42227/showcrit?crit_assignment_id=594",
		"primary_value": 4.333333333333333,
		"secondary_value": 0.0,
		"values": [3, 4, 4, 5, 5, 5],  "sas": 5 ,
		"studentID": 1247,
		"critcomparer": [{
			"rank": 5,
			"criticID": 1229,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}, {
			"rank": 4,
			"criticID": 1221,
			"critpeers": [1231, 1243, 1240, 1247, 1242]
		}, {
			"rank": 3,
			"criticID": 729,
			"critpeers": [1240, 1247, 1242, 1220, 837]
		}, {
			"rank": 5,
			"criticID": 1232,
			"critpeers": [1253, 1231, 1243, 1240, 1247]
		}, {
			"rank": 5,
			"criticID": 81,
			"critpeers": [1243, 1240, 1247, 1242, 1220]
		}, {
			"rank": 4,
			"criticID": 1353,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}]
	}, {
		"first_name": "Craig",
		"last_name": "Starks",
		"column_url": "http://localhost:3000/assignments/584/responses/42505/showcrit?crit_assignment_id=594",
		"primary_value": 4.4,
		"secondary_value": 0.0,
		"values": [0, 4, 4, 4, 5, 5],  "sas": 4 ,
		"studentID": 837,
		"critcomparer": [{
			"rank": 4,
			"criticID": 1229,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}, {
			"rank": 4,
			"criticID": 812,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 5,
			"criticID": 729,
			"critpeers": [1240, 1247, 1242, 1220, 837]
		}, {
			"rank": 4,
			"criticID": 1242,
			"critpeers": [1220, 837, 1250, 723, 738]
		}, {
			"rank": 0,
			"criticID": 1254,
			"critpeers": [837, 1250, 723, 738, 1248]
		}, {
			"rank": 5,
			"criticID": 1353,
			"critpeers": [1247, 1242, 1220, 837, 1250]
		}]
	}, {
		"first_name": "Daeyeob",
		"last_name": "Chae",
		"column_url": "http://localhost:3000/assignments/584/responses/42094/showcrit?crit_assignment_id=594",
		"primary_value": 4.4,
		"secondary_value": 0.0,
		"values": [3, 4, 5, 5, 5],  "sas": 5 ,
		"studentID": 679,
		"critcomparer": [{
			"rank": 5,
			"criticID": 1222,
			"critpeers": [679, 744, 708, 1360, 724]
		}, {
			"rank": 5,
			"criticID": 797,
			"critpeers": [1238, 81, 1245, 679, 744]
		}, {
			"rank": 3,
			"criticID": 1223,
			"critpeers": [1225, 679, 744, 708, 1360]
		}, {
			"rank": 4,
			"criticID": 1246,
			"critpeers": [1221, 1238, 81, 1245, 679]
		}, {
			"rank": 5,
			"criticID": 1252,
			"critpeers": [1238, 1245, 679, 744, 708]
		}]
	}, {
		"first_name": "ian",
		"last_name": "thomson",
		"column_url": "http://localhost:3000/assignments/584/responses/43259/showcrit?crit_assignment_id=594",
		"primary_value": 4.5,
		"secondary_value": 0.0,
		"values": [4, 4, 4, 5, 5, 5],  "sas": 5 ,
		"studentID": 1245,
		"critcomparer": [{
			"rank": 5,
			"criticID": 1226,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 4,
			"criticID": 797,
			"critpeers": [1238, 81, 1245, 679, 744]
		}, {
			"rank": 4,
			"criticID": 1225,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}, {
			"rank": 5,
			"criticID": 1246,
			"critpeers": [1221, 1238, 81, 1245, 679]
		}, {
			"rank": 4,
			"criticID": 1252,
			"critpeers": [1238, 1245, 679, 744, 708]
		}, {
			"rank": 5,
			"criticID": 1262,
			"critpeers": [991, 1221, 1238, 81, 1245]
		}]
	}, {
		"first_name": "Jordan",
		"last_name": "Arista",
		"column_url": "http://localhost:3000/assignments/584/responses/42266/showcrit?crit_assignment_id=594",
		"primary_value": 4.666666666666667,
		"secondary_value": 0.0,
		"values": [4, 4, 5, 5, 5, 5],  "sas": 1 ,
		"studentID": 1246,
		"critcomparer": [{
			"rank": 4,
			"criticID": 1086,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}, {
			"rank": 5,
			"criticID": 1220,
			"critpeers": [1224, 1235, 800, 1246, 1253]
		}, {
			"rank": 5,
			"criticID": 965,
			"critpeers": [800, 1246, 1253, 1231, 1243]
		}, {
			"rank": 5,
			"criticID": 837,
			"critpeers": [1241, 1252, 1235, 800, 1246]
		}, {
			"rank": 5,
			"criticID": 1256,
			"critpeers": [1235, 800, 1246, 1253, 1231]
		}, {
			"rank": 4,
			"criticID": 270,
			"critpeers": [1246, 1253, 1231, 1243, 1240]
		}]
	}, {
		"first_name": "Jennifer ",
		"last_name": "Harrington",
		"column_url": "http://localhost:3000/assignments/584/responses/42101/showcrit?crit_assignment_id=594",
		"primary_value": 4.666666666666667,
		"secondary_value": 0.0,
		"values": [0, 0, 4, 5, 5],  "sas": 5 ,
		"studentID": 1228,
		"critcomparer": [{
			"rank": 5,
			"criticID": 1243,
			"critpeers": [1251, 671, 1237, 1228, 729]
		}, {
			"rank": 4,
			"criticID": 723,
			"critpeers": [1237, 1228, 729, 1223, 1224]
		}, {
			"rank": 0,
			"criticID": 1234,
			"critpeers": [812, 1251, 671, 1237, 1228]
		}, {
			"rank": 5,
			"criticID": 1251,
			"critpeers": [671, 1237, 1228, 729, 1223]
		}, {
			"rank": 0,
			"criticID": 1244,
			"critpeers": [1228, 729, 1223, 1224, 1232]
		}]
	}, {
		"first_name": "Saydi",
		"last_name": "Driggers",
		"column_url": "http://localhost:3000/assignments/584/responses/43269/showcrit?crit_assignment_id=594",
		"primary_value": 4.8,
		"secondary_value": 0.0,
		"values": [4, 5, 5, 5, 5],  "sas": 3 ,
		"studentID": 965,
		"critcomparer": [{
			"rank": 5,
			"criticID": 1227,
			"critpeers": [1222, 797, 270, 965, 812]
		}, {
			"rank": 4,
			"criticID": 1240,
			"critpeers": [270, 965, 812, 1251, 671]
		}, {
			"rank": 5,
			"criticID": 1247,
			"critpeers": [1222, 724, 797, 270, 965]
		}, {
			"rank": 5,
			"criticID": 1253,
			"critpeers": [797, 270, 965, 812, 1251]
		}, {
			"rank": 5,
			"criticID": 1279,
			"critpeers": [965, 812, 1251, 671, 1237]
		}]
	}]
}]
                </textarea>
            </p>
            <p><button type="button"  class="submit-button" onclick="submitform()">Go get the url to my rainbow graph!</button></p>
        </form>
        <div class="form-container">
            <div id="error"></div>
            <h2 class="form-title">Your Rainbow Graph can be accessed through the following URLs</h2>
            <ul>
                <div id="links"></div>
            </ul>
        </div>
        &nbsp;
        <div class="form-container" >
            <a id="frameHeader" class="form-title" href="javascript:toggle('frameContent','frameHeader');" style="text-align:right">expand</a>
            <div id="frameContentHolder">
                <iframe id="frameContent" name="_frameContent" src="about:blank" width="800" height="380" frameborder="0" scrolling="no" style="display:none;"></iframe>
                </br>
                <div id="htmlCopyHolder" class="form-text"></div>
            </div>
        </div>

        <div class="footer">
            © PeerLogic. All rights reserved.
            <br/>
            For support or new feature request, please contact:
            Dr. Ferry Pramudianto | Senior Research Engineer | 919 513-0816 | fferry (at) ncsu.edu
            Computer Science Department | North Carolina State University
        </div>
    </body>
</html>
