<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <link rel="stylesheet" type="text/css" href="static/dropzone.css">
    <script src="static/dropzone.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>
        var myDropzone
        var files_table = {};
        function deleteUrl(url){
            id = url.substr(url.lastIndexOf('/') + 1)
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    myDropzone.removeFile(files_table[id])
                    line = '<li type="square"><a href="' + url +'" target="_blank">' + url + '</a><button type="button" class="submit-button" onclick="deleteUrl(\'' + url + '\')">delete</button></li>'
                    document.getElementById('link').innerHTML = document.getElementById('link').innerHTML.replace(line, "")
                }
            }
            xhr.open("DELETE", "/viz/" + id, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.send();
        }

        Dropzone.autoDiscover = false;
        $(function() {
          myDropzone = new Dropzone("#uploader", {addRemoveLinks: true});
          myDropzone.on("success", function(file, file_upload_resp) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                       configure_resp = JSON.parse(xhr.responseText);
                       file.id = configure_resp.url.substr(configure_resp.url.lastIndexOf('/') + 1)
                       files_table[file.id] = file
                       document.getElementById('link').innerHTML += '<li type="square"><a href="' + configure_resp.url +'" target="_blank" >' + configure_resp.url + '</a><button type="button" class="submit-button" onclick="deleteUrl(\'' + configure_resp.url + '\')">delete</button></li>'
                    }
                }
                xhr.open("POST", "/configure", true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                xhr.send(JSON.stringify(file_upload_resp));
          });

          myDropzone.on("removedfile", function(file, resp) {
            id = file.id
            url =  location.protocol + '//' + location.host + "/viz/" + id
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    line = '<li type="square"><a href="' + url +'" target="_blank">' + url + '</a><button type="button" class="submit-button" onclick="deleteUrl(\'' + url + '\')">delete</button></li>'
                    document.getElementById('link').innerHTML = document.getElementById('link').innerHTML.replace(line, "")
                }
            }
            xhr.open("DELETE", "/viz/" + id, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.send();
          });
        });
    </script>
</head>
<body>
<div class="form-container">
<h1 class="form-title">The Rainbow Graph</h1>
<p>
<p>
    The Rainbow Graph helps you to visualize peer assessment scores of your class and identify submissions that are scored with high disagreements by their reviewers.
    This graph is simply a bar graph. Each student is represented by a column, and the height of the column is determined by that student’s “primary-value” entry.
    Think of “primary-value” as their overall aggregate score. This isn’t calculated by the web service but rather is provided by you.

    Each of these columns consists of a number of smaller elements stacked together. These elements refer to the individual scores that student received from other peers in a peer review session.
    Some students may have more “values” than other students and that’s OK. The overall column height will always be drawn such that its height corresponds to the “primary-value” provided by you.

    more
</p>
<h2 class="form-title"></h2>

<form action="/file-upload" class="dropzone form-container" id="uploader" >
    <div class="dz-message" data-dz-message>
        <span>Drop your data files here or click to open files selector</span>
        <span>currently we support data files from the following system: CPR(.csv), Perceptive(.xls), Expertiza(.xls), ...</span>
    </div>
    <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
</div>
<p>
<div class="form-container">
    <h2 class="form-title">Your Rainbow Graph can be accessed through this URLs:</h2>
    <ul>
        <div id="link"></div>
    </ul>
</div>
</body>
</html>